services:
    -
        class: simplesurance\PHPStan\Rules\ClassConstantVisibilityRule
        tags:
            - phpstan.rules.rule

includes:
    - ../../phpstan/phpstan-phpunit/extension.neon
    - ../../phpstan/phpstan-phpunit/extension.neon
    - ../../phpstan/phpstan-symfony/extension.neon
    - ../../slam/phpstan-extensions/conf/slam-rules.neon
